# Exercice 1

In [11]:
#min_max
a= int(input("saisir la première valeur: "))
b= int(input("saisir la deuxième valeur: "))
if a<b:
    print('la plus pétite valeur est: ', a)
else:
    print('la plus pétite valeur est: ', b)

saisir la première valeur: 3
saisir la deuxième valeur: 1
la plus pétite valeur est:  1

# Exercice2

In [2]:
#longeur chaine
chaine1= input(str("saisir la première chaine)"))
chaine2= input(str("saisir la deuxième chaine)"))
if len(chaine1)>len(chaine2):
    print(chaine1)
else:
    print(chaine2)

saisir la première chaine)gdijslkds
saisir la deuxième chaine)jj
gdijslkds

# Exercice3

In [1]:
print("entrer le caractère 'E' si la monnaie est en euro, '$' si la monnaie est en dollars")
# 1E=1.12$
devise=input("entrer la devise que vous avez: ")
montant= int(input("entrer le montant "))

if devise=='E':
    print(str(montant*1.12)+ '$')
elif devise=='$':
    print(str(montant/1.12)+ 'E')
else:
    print('erreur')

entrer votre devise: le caractère 'E' si la monnaie est en euro et '$' si la monnaie est en dollars
entrer la devise que vous avez: $
entrer le montant 12
10.714285714285714E

# Exercice4

In [1]:
for i in range(50):
    print("je dois coder en python")

je dois coder en python
je dois coder en python
je dois coder en python
je dois coder en python
je dois coder en python
je dois coder en python
je dois coder en python
je dois coder en python
je dois coder en python
je dois coder en python
je dois coder en python
je dois coder en python
je dois coder en python
je dois coder en python
je dois coder en python
je dois coder en python
je dois coder en python
je dois coder en python
je dois coder en python
je dois coder en python
je dois coder en python
je dois coder en python
je dois coder en python
je dois coder en python
je dois coder en python
je dois coder en python
je dois coder en python
je dois coder en python
je dois coder en python
je dois coder en python
je dois coder en python
je dois coder en python
je dois coder en python
je dois coder en python
je dois coder en python
je dois coder en python
je dois coder en python
je dois coder en python
je dois coder en python
je dois coder en python
je dois coder en python
je dois coder en python
je dois coder en python
je dois coder en python
je dois coder en python
je dois coder en python
je dois coder en python
je dois coder en python
je dois coder en python
je dois coder en python

# Exercice 5

In [11]:
a= "ce nombre est pair"
b= "ce nombre est impair, mais est multiple de 3"
c= "ce nombre n'est ni pair ni miltiple de 3"
d=int(input())
if d%2==0:
    print(a)
elif d%2==1 and d%3==0:
    print(b)
else:
    print(c)

11
ce nombre n'est ni pair ni miltiple de 3

# Exercice 6

In [23]:
#un programme qui affiche les nombres 2 en 2 jusqu'à 100
for i in range(0,101,2):
       print(i)
        
    #Exo6 boucle while
i=0
while(i<=100):
    print(i)
    i+=2

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [23]:
#Exo6 boucle while
i=0
while(i<=100):
    print(i)
    i+=2

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

# Exercice7

In [21]:
for x in range (1,11):
    for y in range (1,11):
        
        print("%d x %d = %d" % (x,y, x*y))
    print()

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60

7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80

9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90

10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100

 # Exercice 8

In [28]:
liste_animaux=["coq", "mouton", "chien", "chat", "souris"]
for animal in liste_animaux:
    print(animal)

coq
mouton
chien
chat
souris

# Exercice 9

In [31]:
liste_animaux=["coq", "mouton", "chien", "chat", "souris"]
liste_animaux.reverse()
for i in liste_animaux:
    print(i)

souris
chat
chien
mouton
coq

# Exercice10

In [43]:
liste_animaux=["coq", "mouton", "chien", "chat", "souris"]
liste_animaux.sort()
for i in liste_animaux:
    print(i)

chat
chien
coq
mouton
souris

# Exercice11

In [47]:
liste_animaux=["panthere", "chevre", "chien", "chat", "lion"]
liste_animaux.append("troll")
for i in ("chevre","chien","chat","troll"):
    liste_animaux.remove(i)
for j in liste_animaux:
    print(j)

panthere
lion

# Exercice 12

In [48]:
liste_chaine=['mariam','salut','sadia','valerie']
for i in liste_chaine:
    print(i, "possède", len(i), "caractères")

mariam possède 6 caractères
salut possède 5 caractères
sadia possède 5 caractères
valerie possède 7 caractères